.container{
    /* display grid para que los elementos se acomoden en columnas */
    display : grid;
    /* numero de columnas y tamaño de las columnas */
    grid-template-columns: repeat(auto-fill, 230px);    
    /* espacio entre las columnas */
    gap: 40px;
    /* espacio entre el contenedor y el contenido */
    padding: 40px;
    /* alineacion horizontal */
    justify-content: center;
}
@media(max-width : 560px){
    .container{
        grid-template-columns: 100%;
    }
}
