.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(145, 161, 161);


}

.containerForm {
    background-color: tomato;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    display: block;
}

button {

}