.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input {
    background-color: #e8e8e8;
    height: 45px;
    width: 400px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.registerButton {
    height: 40px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2S;
    font-size: 1.1rem;
}

.registerButton:hover {
    background-color: #333;
}
.span{
    color:#6B6A6A;
}