.container {
  background-color: #fefeff;
  display: flex;
  height: 100vh;
  gap: 20px;
  padding-left: 120px;
  padding-top: 30px;
}

img {
  width: 200px;
  height: 200px;
}

.mainPage {
  background-color: #fefeff;
}

@media(max-width : 768px) {
  .container {
    padding-left: 10px;
  }

}