body{
  background: #101010;
  color: White;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*vh hace referencia al tamaño de la pantalla del usuario*/
}


label{
  /*Para que el label se muestre en una línea diferente se usa block*/
  display: block; 
}

input, select{
  width: 100%;
}

span{
  color: red;
  font-size: small;
}